.mute{
  display: flex;
  flex-direction: column;
  
  height: 100%;
  
}

.mute span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 2em;
  height: 2em;
  margin-right: 0.7em;
  border-radius: 10%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  /* background-image: url("../assets/images/mute.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;  */
  cursor: pointer;
}

.mute img {
  width: 1em;
}

