.recordbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 3em;
  
}

.start  button {
display: flex;
align-items: center;
 outline: none;
border: none;
height: 3em;
width: 4em;
background-color: transparent;
margin-right: 1em;

}

.start img {
  width: 4em;
  height: 4em;
  cursor: pointer;
}

/* .download button {
  display: flex;
align-items: center;
  width: 3em;
  height: 3em;
  background-image: url("../assets/images/download.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  border-radius: 10%;
  background-color: transparent ; rgba(243, 65, 65, 0.8) 
  cursor: pointer;
} */ 

@media screen and (max-width: 415px) and (orientation: portrait)  {
  .recordbtn {
    margin-bottom: 1em;
}
}