.backseq {
  background-image: url("../assets/images/graf2.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 21%;
}

.outter {
  width: 100%;
  
  border-bottom: none;
  border-top: none;
}

.seqBorder {
  margin: 2em auto 0 auto;
  width: 35%;
  position: relative;
  
 
}

/* .seqBorder::after  {
  content: "";
  background-image: url('../assets/images/poster.svg');
  background-size: contain;
  background-position: center;
  
  background-repeat: no-repeat;
  opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

@media screen and (max-width: 1000px) {
  .seqBorder {
    width: 90%;
  }
  .outter {
    border: none;
  }
}
/*
.seqBorder {
  box-shadow: 1px 56px 567px rgb(223, 219, 219);
  
}
*/
