.backseq {
  background-image: url("../assets/images/graf2.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 21%;
}

.outter {
  width: 100%;
  
  border-bottom: none;
  border-top: none;
}

.seqBorder {
  margin: 2em auto 0 auto;
  width: 35%;
  position: relative;
  
 
}

/* .seqBorder::after  {
  content: "";
  background-image: url('../assets/images/poster.svg');
  background-size: contain;
  background-position: center;
  
  background-repeat: no-repeat;
  opacity: 0.04;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

@media screen and (max-width: 1000px) {
  .seqBorder {
    width: 90%;
  }
  .outter {
    border: none;
  }
}
/*
.seqBorder {
  box-shadow: 1px 56px 567px rgb(223, 219, 219);
  
}
*/

.startBtn {
  padding: 2em;

  cursor: pointer;
  border-radius: 10%;
  border: transparent;
  background-color: transparent;
  margin: 1em;
  outline: none;
  background-image: url(../assets/images/turn1.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 20px 15px rgba(0, 0, 0, 0.12);
}

.volBpmBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

/* .amplifiers {
 
  
 
} */

.turntable {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.turntable img {
  margin: 0 4em;
}

@media screen and (min-width: 450px) and (max-width: 700px) {
.turntable img {
  margin: 0em;
}
}
@media screen and (max-width: 450px) {
  .turntable img {
    display: none;
  }
}


/* .mixer {
 
  
} */
