.tempo {
  display: flex;

  margin-right: 1em;
  width: 6em;
  height: 3em;

  border-bottom: 4px solid black;
  border-top: 4px solid black;
  border-left: 4px solid black;
  
  justify-content: flex-end;
  align-items: center;

  background-image: url("../assets/images/rhythm.svg");
  background-position: left;
  background-position-y: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.tempobtn button {
  outline: none;
  background-color: inherit;
  border: 0em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.tempobtn {
  display: flex;
  flex-direction: column;
  margin-left: 0em;
}

.spanBpm {
  display: flex;
  flex-direction: column;
}
