.setVol {
  display: flex;
  justify-content: flex-end;
  width: 6em;
  height: 3em;


  
  align-items: center;

  background-image: url("../assets/images/sound.svg");
  background-position: left;
  background-position-y: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.setVolBtn button {
  outline: none;
  background-color: inherit;
  border: 0em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.setVolBtn {
  display: flex;
  flex-direction: column;

 
}

.spanVol {
  display: flex;
  flex-direction: column;
  
}

.dB {
  align-self: flex-end;
}
