.swing {
  display: flex;
  justify-content: flex-end;
  width: 6em;
  height: 3em;
  margin-left: 1em;
  
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  border-right: 4px solid black;
  
  
  align-items: center;
  
  
  background-image: url('../assets/images/park.svg');
  background-position: left;
  background-position-y: center;
  background-size: 40%;
  background-repeat: no-repeat;

}

.swingBtn button {
  outline: none;
  background-color: inherit;
  border: 0em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.swingBtn {
  display: flex;
  flex-direction: column;
  
 
}

.spanSwing {
  display: flex;
  flex-direction: column;
 
}
