.app  {
text-align: center;
}

button {
  padding: 2em;
  width: 10em;
  height: 10em;
  cursor: pointer;
  border-radius: 10%;
  border: transparent;
  box-shadow: 5px 5px rgb(133, 65, 243);
  margin: 1em;
  transition: background-color 0.5s ease-in-out;
  outline: none;
}

button:active { 
  
  background-color: rgb(133, 65, 243);
  box-shadow: 3px 3px rgb(133, 65, 243);
  transition: 0.1s;
transform: translateY(4px);


} 