/* @font-face {
  font-family: 'atlant';
  font-style: normal;
  font-weight: 400;
 
  src: 
       
       url('./assets/fonts/atlandsketchesbb_reg.ttf') format('truetype'), 
       
} */



.app {
  text-align: center;
}
