body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #cfcfcf6c; */
  /* background-color: #cfcfcf4d; */

  /* rgba(235, 247, 247, 0.966) */

  background-color: 	rgba(241, 241, 241, 0.137);  

  /* rgba(255, 255, 255, 0.137) */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
