.outter {
  margin: 0 auto;
  width: 35%;
}

.startBtn {
  padding: 2em;

  cursor: pointer;
  border-radius: 10%;
  border: transparent;
  background-color: transparent;
  margin: 1em;
  outline: none;
  background-image: url(./assets/images/turn1.svg);
}
